
div#main{
    width:1024px;
    height: 1000px;
}
/*the bottom section*/
footer{
    width:920px;
    height: 50px;
    border-style: solid;
    border-width: 1px;
    margin-left: 100px;
}
#left_footer{
    float:left;
    display: inline;
}
#right-footer{
    float: right;
    display:inline;
}
/*the top section*/
#top_section{
    height:80px;
    margin-left: 100px;
    margin-right: 50px;
    background: #fafbfc;
    border-bottom-color: #d3d4d5;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}
/*below the top section, named middle*/
#middle{
    height:100px;
    margin-left: 100px;
    margin-right: 50px;
    border-bottom-color: #d3d4d5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
}
/*it floats left side*/
#left_div {
    float: left;
    height: auto;
    width: 70%;
    display: inline;
    margin-left: 100px;
    margin-right: 0px;
    padding : 0%;

}
#left_table{width: 790px;
    height : 100px;}

#right_div{
    height: auto;
    width: 200px;
    float: right;
    display: inline;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 255, 255, 0);
}
#http{
    margin-left:15px;
}
.right_section{
    padding-left: 20px;
}
.sidemenu{
    display: block;
    border-left:5px solid #f8f8f8;
    border-bottom:5px solid #f8f8f8;
    border-radius:5px;
    margin-left:5px;
}
.sentence{
    font-size: 11px;
}

#http{
    width:150px;
}

#code{
    list-style-image: url(./svg/code.svg);
    font-weight: bold;
    border-radius: 5px;
    padding-bottom: 10px;
    border-top:2px solid #f8f8f8;
    border-bottom:2px solid #f8f8f8;
    border-right:5px solid orangered;
}
#issue{
    list-style-image: url(./svg/issue-opened.svg) ;}

#pr{

    list-style-image: url(./svg/git-pull-request.svg);
    padding-bottom: 10px;
    border-bottom: 5px solid #f8f8f8;
}
#pulse{
    list-style-image: url(./svg/pulse.svg);

}
#graphs{
    list-style-image: url(./svg/graph.svg);
}

#github_search{
    width:115px;
    float: left;
    height: 25px;
    border: 2px solid #e6e6e6;
    border-radius: 3px;
    display: inline;
    padding-right: 0px;
}

#clippy{
    width:34px;
    border-radius: 3px;
    border-color: #f9f9f9;

}
#download{
    text-align:center;
    margin-left:15px;
    width:170px;
    height:25px;
}

.blue{
    color: #4d81c4;
    margin-top: 10px;
}

#clone{
    text-align: center;
    margin-left: 15px;
    margin-bottom: 10px;
    width:170px;
    height:25px;
}
.left_table {
    float: left;
    height: 50px;
    width: 100%;
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
    padding : 0%;
    border-style: none;
    border-width: 1px;}

.table_of_left_table{float: left;
    height : 30px;
    width: 100%;
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
    padding : 1%;
    border-style: solid;
    border-width: 1px;
}
.set_to_right {float : right}
.set_to_left {float : left}
table {
    height : 20px;
}
/*CSS파일 하나더 적용어떻게 시키나유..?일단 여기 해둘게요 헹*/
.basic_table_frame_set{ width : 100%;
    border-collapse: collapse;
    border : solid 2px #DFDFDF;
    height : 30px;
    padding : 5px;
    border-radius: 5px;
}
.big_table_frame_set{
    width : 100%;
    border-collapse: collapse;
    border : solid 2px #DFDFDF;
    height : 150px;
    padding : 10px;
    border-radius: 5px;
}
.middle_size_table_frame_set{
    width : 100%;
    border-collapse: collapse;
    border : solid 2px #DFDFDF;
    height : 90px;
    padding : 10px;
    border-radius: 5px;
}

#font_blue{
    color : #3D70B6;
}
#gray_box{
    background-color: #F4F4F0;
}
#light_gray_box{
    background-color : #FAFAF8;
    height : 30px;
}
#blue_box{
    background-color: #E6F1F6;
}
.default_font{
    font-family : BlinkMacSystemFont, Helvetica, Arial ;
    font-size : 14px;
    color : #7F7F7F;

}
#black_font{
    font-family : BlinkMacSystemFont, Helvetica, Arial ;
    font-size : 14px;
    color : black;
}

tr{
    border-style : 0,0,2px,0;
    border-color: #DFDFDF;
}
#yellow_bottom{

}
#gray_bottom{

}
#no_border{
    border-style: none;
    width = 750px;
    height = 30px;
}
#branch_button{
    type = "button";
    width : 17%;
    height : 30px;
    padding : none;
    margin : none;
    border-radius: 5px;
    box-shadow: 0;
    background-color : #FAFAF8;
}