* {
    font-family: Arial;
}

div#main{
    width:1024px;
    height: 820px;
}
#top_section{
    height:80px;
    margin-left: 100px;
    margin-right: 50px;
    background: #fafbfc;
    border-bottom-color: #d3d4d5;
    border-bottom-style: solid;
    border-bottom-width: 1px;

}
#github_image{
    width:110px;
    padding-top: 15px;
}

#top_search{
    margin-bottom: 98px;
    padding-top: 9px;
    height:24px;
    position:relative;
    border-radius:5px;
    border: 1px solid white;
    width: 120px;
}
.menu {
    height:28px;
    border: ridge;
    border-radius: 5px;
    background-color: #efefef;
}
.left_button{
    margin-top:30px;
    float:right;
    border-radius: 5px;
    background-color: #4CAF50;
    border: solid;
    border-style: groove;
    border-color: #4CAF50;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    padding: 8px 8px;
}
.right_button {
    margin-top:30px;
    margin-right: 5px;
     float:right;
    border-radius: 5px;
    border: groove;
    padding: 8px 8px;
    margin-left: 8px;
}
#middle{
    height:50px;
    margin-left: 100px;
    margin-right: 50px;
    border-bottom-color: #d3d4d5;
    border-bottom-style: solid;
    border-bottom-width: 1px;
    padding-top:15px;
    color: #4d81c4;
}
.blue_middle{
    font-size: large;
}
#watch{
    /*box-shadow: 0;*/
    width : 80px;
    height : 25px;
    background-color : #F4F4F0;
    /*padding : 10px 0px 10px 5px;*/
    border-radius: 5px 0px 0px 5px;
    border :1px solid;
    border-color: #9F9F9F;
    margin : 0px 0px 0px 5px;
    padding-bottom: 10px;
    /*padding : 3px;*/
}
.star{
    width : 65px;
    height : 25px;
    background-color : #F4F4F0;
    border-radius: 5px 0px 0px 5px;
    border :1px solid;
    border-color: #9F9F9F;
    margin : 0px 0px 0px 5px;
    padding-bottom: 10px;
}
.watch_num{
    height: 25px;
    width : 30px;
    padding : 5px 0px 10px 0px;
    background-color: white;
    border-radius : 0px 5px 5px 0px;
    border : 1px solid;
    border-color: #9F9F9F;
    margin : 0px 3px 5px 0px;
}

#left_div {
    float: left;
    height: auto;
    width: 70%;
    display: inline;
    margin-left: 100px;
    margin-right: 0px;
    padding : 0%;

}
#left_table{width: 790px;
    height : 100px;}

#right_div{
    height: auto;
    width: 200px;
    float: right;
    display: inline;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    border-color: rgba(0, 255, 255, 0);
}
#http{
    margin-left:15px;
}
.right_section{
    padding-left: 20px;
}
.sidemenu{
    display: block;
    border-left:5px solid #f8f8f8;
    border-bottom:5px solid #f8f8f8;
    border-radius:5px;
    margin-left:5px;
}
.sentence{
    font-size: 11px;
}

#http{
    width:150px;
}

#code{
    list-style-image: url(./svg/code.svg);
    font-weight: bold;
    border-radius: 5px;
    padding-bottom: 10px;
    border-top:2px solid #f8f8f8;
    border-bottom:2px solid #f8f8f8;
    border-right:5px solid orangered;
}
#issue{
    list-style-image: url(./svg/issue-opened.svg) ;}

#pr{

    list-style-image: url(./svg/git-pull-request.svg);
    padding-bottom: 10px;
    border-bottom: 5px solid #f8f8f8;
}
#pulse{
    list-style-image: url(./svg/pulse.svg);

}
#graphs{
    list-style-image: url(./svg/graph.svg);
}

#github_search{
    width:115px;
    float: left;
    height: 25px;
    border: 2px solid #e6e6e6;
    border-radius: 3px;
    display: inline;
}

#clippy{
    width:34px;
    border-radius: 3px;
    border-color: #f9f9f9;
    display:inline-block;
}
#download{
    padding-right: 15px;
    text-align:center;
    margin-left:15px;
    width:170px;
    height:25px;
}

.blue{
    color: #4d81c4;
    margin-top: 10px;
}

#clone{
    padding-right: 15px;
    text-align: center;
    margin-left: 15px;
    margin-bottom: 10px;
    width:170px;
    height:25px;
}
.left_table {
    float: left;
    height: 1px;
    width: 100%;
    display: inline;
    margin : 0px 0px 0px 0px;
    padding : 0px 0px 0px 0px;
    border-style: none;
    border-width: 1px;}

#sentence_in_left_div{
    padding-right: 25px;
}
.be_left{
    float:right;
}
.table_of_left_table{float: left;
    height : 30px;
    width: 100%;
    display: inline;
    margin-left: 0px;
    margin-right: 0px;
    padding : 1%;
    border-style: solid;
    border-width: 1px;
}
.set_to_right {
    text-align : right;
    float : right;
    colspan : "4";}
.set_to_left {text-align : left;}
.set_to_center{text-align : center;}
table {
    height : 20px;
}
/*CSS파일 하나더 적용어떻게 시키나유..?일단 여기 해둘게요 헹*/
.basic_table_frame_set{ width : 100%;
    border-radius: 5px;
    border : solid 1px #DFDFDF;
    height : 55px;
    margin : 0px 0px 5px 0px ;
    text-align : center;
    }
.basic_td_frame_set{ width : 100%;
    border-collapse: collapse;
    border : solid 2px #DFDFDF;
    height : 30px;
    padding : 0px;
    margin : 100px 0px 0px 0px;
}
.basic_tr_frame_set{
    width : 100%;
    border-collapse: collapse;
    border : solid 1px 1px 1px 1px #DFDFDF;
    border : solid 1px #DFDFDF;
    height : 30px;
    padding : 100px 0px 0px 0px;
    margin : 5px 0px 0px 0px;
}
.big_table_frame_set{
    width : 100%;
    border : solid 1px #DFDFDF;
    height : 110px;
    padding : 0px 0px 0px 5px;
    text-align : left;
    border-collapse: collapse;
}
.middle_size_table_frame_set{
    width : 100%;
    border : solid 1px #DFDFDF;
    height : 90px;
    text-align : left;
    margin : 5px 0px 0px 0px;
    border-collapse: collapse;
}
.top_margin{
    margin : 1.5% 0% 0% 0% ;
}
.bottom_margin{
    margin : 0% 0% 1.5% 0% ;
}
.side_padding{
    padding-left: 20px;
}
.font_blue{
    color : #3D70B6;
}
#gray_box{
    background-color: #F4F4F0;
}
.light_gray_box{
    background-color : #FAFAF8;
    height : 30px;
    colspan : "4";
}

#blue_box{
    background-color: #E6F1F6;
    height : 30px;
}
.default_font{
    font-size : 14px;
    color : #7F7F7F;

}
.little_big_font{
    font-size : 17px;
    color : #7F7F7F;

}
.black_font{
    font-size : 15px;
    color : black;
}

#yellow_line{
    width : 100%;
    height : 5px;
    background-color: #F1E05A;
    border-radius: 5px;
    padding : 0px 0px 0px 0px;
}
#gray_bottom{
    type : "button";
    width : 6.7%;
    padding : 0px 0px 4px 0px;
    margin : 0px 0px 0px 0px;
    border-radius: 5px;
}
#no_border{
    border-style: none;
    width : 750px;
    height : 30px;
}
#branch_button{
    /*type : "button";*/
    width : 17%;
    height : 30px;
    padding : 0px 0px 4px 0px;
    margin : 3px 0px 4px 0px;
    border-radius: 5px;
    /*box-shadow: 0;*/
    background-color : #F4F4F0;
}
#twin_icon{
    margin: 4px 0px 2px 0px;
    float: left;
    width : 35px;
    padding : 4px 0px 21px 0px;
    border-radius: 5px;
    background-color : #48CE31;
    height: 5px;
}
#small_gray_icon{
    margin: 4px 0px 2px 0px;
    float: left;
    width : 35px;
    padding : 4px 0px 21px 0px;
    border-radius: 5px;
    background-color: #F4F4F0;
    height: 5px;
    float : right;}
.blue_icon {
    filter :  #80A6CD(100%);
}
#twin_branch{
    width : 20px;
    height : 20px;
    padding : 0px 6px 4px 0px;}
#twin_branch{
    width : 20px;
    height : 20px;
    padding : 0px 6px 4px 0px;
    margin : 0px 0px 0px 3px;
    float : right;
    border-radius: 5px;
}
#readme_contents{
     width : 100% ;
     height : 160px ;
     text-align: left;
    padding-left:20px;
    font-size: 120%;
}
#40height{
    height : 40px;}

.colpan{
    colspan = "4"
    }

#branch_font{
    width : 100% ;
    height : 15px ;
    font-size: 150%;
    text-align: left;
    padding-top: 0px;
}
.plus_font{
    width : 100% ;
    height : 40px ;
    font-size: 120%;
    text-align: left;
    margin : 0px;
}
.border_bottom{
    border-bottom: solid 1px;
    border-color: lightgray;
}
td {
    padding-top: 5px;
    padding-bottom: 5px;
}
.to_the_bottom{
    padding-top : 10px;
}
#left_avatar{
    width : 20px;
    height : 20px;
    margin : 0px 0px 0px 3px;
    float : left;
    border-radius: 5px;
}
#right_avatar{
    width : 20px;
    height : 20px;
    margin : 0px 0px 0px 3px;
    float : right;
    border-radius: 5px;
}

.image_size{
    width : 15px;
    height : 13px;
    margin : 2px 3px 3px 7px;
    float : left;
}

footer{
    width:920px;
    height: 60px;
    margin-left: 100px;
    padding-top: 60px;
    border-top: 2px solid #f8f8f8;
}
.footer_image{
    float: left;
    margin-left:150px;
    margin-top:10px;
}
.footer_font{

    padding:0px;
    font-size: 80%;

}
#left_footer{
    padding-top:25px;
    float:left;
    display: inline;
}
#right-footer{
    padding-top:25px;
    float: right;
    display:inline;
}